.users-online{
  position: absolute;
  top:45px;
  right:45px;
  padding:18px 16px;
  border-radius:5px;
  color:$lightBlue;
  background:$darkBlue;

  .indicator{
    background:$green;
    margin-right:8px;
    @include circle(10px);
  }
  .count,
  .indicator,
  .description{
    display: inline-block;
  }
  .count{
    margin-right:4px;
  }

  &:hover .online-user-list{
    z-index: 1;
    opacity:1;
    transform:translateY(0);
  }

  .online-user-list{
    z-index: -1;
    position: absolute;
    right:0;
    top:50px;
    width:180px;
    padding:10px 15px;
    opacity:0;
    background:white;
    border-radius:4px;
    box-shadow:1px 1px 1px 1px black(0.2);
    transform:translateY(-20px);
    transition:all 0.2s 0.2s ease;

    .arrow{
      @include css-arrow(top, right, 8px, 10px, white);
    }
    .user-list-item{
      margin-bottom:10px;
      &:last-child{
        margin-bottom:0;
      }
    }
    .user-name{
      font-weight: 700;
      line-height: 20px;
    }
  }
}